#new_user_form
	= form_for @user do |f|
		- if @user.errors.any?
			#error_messages
				%h2 Form is invalid
				%ul
					- for message in @user.errors.full_messages
						%li= message
		.field
			= f.label :email
			%br/
			= f.text_field :email, :class => "title"
		.field
			= f.label :username
			%br/
			= f.text_field :username, :class => "title"
		.field
			= f.label :password
			%br/
			= f.password_field :password, :class => "title"
		.field
			= f.label :password_confirmation
			%br/
			= f.password_field :password_confirmation, :class => "title"
		.field
			= f.submit "Sign up"

