!!!
%html
	%head
		%title VideoGame
		= stylesheet_link_tag :application, :media => 'screen'
		= stylesheet_link_tag :print, :media => 'print'
		/[if lt IE 8]
			= stylesheet_link_tag :ie 
		= javascript_include_tag :application
		= csrf_meta_tag
	%body
	
	= render 'layouts/header'
	= yield :special
	.container.content-box
		#main_page.span-22.prepend-1.append-1
			#flash.prepend-top.append-bottom
				- flash.each do |key, value|
					= content_tag(:div, value, :class => "flash #{key}")
			.span-22
				= yield
	= render 'layouts/footer'
