!!!
%html
	%head
		%title VideoGame
		= stylesheet_link_tag :all
		= javascript_include_tag :defaults
		= csrf_meta_tag
	%body
	#user_nav
		- if current_user
			Logged in as <%= current_user.username %>
			= link_to "Log out", logout_path
		- else
			= link_to("Sign up", sign_up_path)
			= link_to "log in", login_path
	- flash.each do |key, value|
		= content_tag(:div, value, :class => "flash #{key}")
	= yield
